/* generali */
body{
    background-color: rgb(205, 205, 205);
    background-image: url("thomaslogo.png");
    background-size: 12%;
    background-repeat: repeat-y;
    padding: 0;
    margin: 0px;
    border-bottom: 3px solid red;
}
#contenitoregen{
    background-color: gray;
    color: whitesmoke;
    border: 10px solid black;
    width: 70%;
    margin: 0 auto;
    padding: 0px 40px;
    margin-top: 0;
    padding-bottom: 30px;
    max-width: 1700px;
}
/* piu specifiche ma grandi */
#titoloalto{
    text-align: center;
    background-color: green;
    margin: 0px;
    padding: 10px;
}
.piusudime{
    background-color: gray;
    border: 2px solid rgb(88, 88, 88);
    border-radius: 10px;
    padding: 0px 40px;
    width: 40%;
    font-family: cursive;
    margin-bottom: 25px;
    margin-top:12px;
}
.piusudime:hover{
    background-color: rgb(150, 150, 150);
}
/* generalissime */
a{
    color: rgb(0, 204, 255);
}
a:active{
    color: yellow;
}
#benvenuto1{
    text-align: center;
}
#imginizio{
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}
#imgstudio{
    float: right;
    width: 50%;
    border-radius: 20px !important;
}
.piusudime:nth-of-type(1) {
    margin-top: 20px;
}
#introduzione {
    font-size: 19px;
    width: 80%;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    background-image: linear-gradient(to top right, #35d46a, white);
    color: rgb(48, 48, 48);
    padding: 10px;
    border-radius: 10px;
    margin-top: 40px;
    box-shadow:  0px 0px 20px rgba(87, 87, 87, 0.5);
}
#sapereinizio {
    width: 45%;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(35, 35, 35);
    font-size: 19px;
    font-weight: 500;
    font-family: Arial, sans-serif;
} 
/* piu definite */
@media (max-width: 320px){
    #sapereinizio {
        width: 80%;
    }
    #benvenuto1, #introduzione {
        width: 90%;
    }
    #titoloalto {
        margin-right: 0px;
        width: 100%;
    }
    body{
        padding-right: 0px;
    }
    #contenitoregen {
        width: 50% !important;
    }
}
@media (max-width: 400px){
    #titoloalto {
        width: 103.3% !important;
    }
}
@media (max-width: 550px){
    #titoloalto {
        width: 99.5%;
    }
}
@media (max-width: 600px){
    .piusudime{
        width: 20%;
    }
    #contenitoregen {
        width: 83.5% !important;
    }
}
@media (max-width: 700px){
    #imginizio{
        width: 80%;
    }
    #sapereinizio {
        width: 95% !important;
    }
}
@media (max-width: 800px){
    #contenitoregen {
        width: 69%;
    }
}
@media (max-width: 900px){
    #sapereinizio {
        width: 80%;
    }
    #introduzione {
        width: 95%;
    }
}
@media (max-width: 1200px){
    .piusudime{
        width: 30%;
    }
    #imgstudio1 {
        overflow: hidden;
        height: 250px;
        border-radius: 20px !important;
    }
    #imgstudio {
        width: 65%;
        float: none;
        display: block;
        margin: 0 auto;
        object-fit: cover;
        object-position: center;
        border-radius: 0px !important;
    }
    .piusudime {
        margin: 0 auto;
        margin-top: 12px !important;
        margin-bottom: 20px !important;
        width: 85%;
    }
    .piusudime.a1{
        margin-top: 40px !important;
    }
}
@media (max-width: 320px){
    #contenitoregen {
        width: 78.32% !important;
    }
}